<!DOCTYPE html>
<html lang="en">

<head>
    <script src="index.js"></script>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <meta http-equiv="refresh" content="30">
    <title>Arduino</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>



<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="about.html"><b>ABOUT</b></a>
    </div>
    <!-- content -->
    <!-- <div class="icon">
        <div class="icon1"><i class="fa-regular fa-face-smile fa-10x"></i></div>
        <div class="icon2"><i class="fa-regular fa-face-meh fa-10x"></i></div>
        <div class="icon3"><i class="fa-regular fa-face-frown fa-10x"></i></div>

    </div> -->
    <label for="report">Choose a car:</label>
    <select id="report">
    </select>
    <button type="button" onclick="reportDate()">Click Me!</button>

    <table>
        <table id="now" class="table">
            <tr>
                <th>Noice</th>
                <th>Meh</th>
                <th>Sadge</th>
            </tr>
        </table>

        <table id="employees" class="table">
            <tr>
                <th>Report Date</th>
                <th>Noice</th>
                <th>Meh</th>
                <th>Sadge</th>
            </tr>
        </table>
    </table>
    <script>
        var report = document.getElementById('report')
        fetch('http://localhost:3000/api/v1/review')
            .then((response) => response.json())
            .then((data) => {
                data.forEach(element => {
                    var opt = document.createElement("option")
                    opt.value = element.reportDate
                    opt.innerHTML = element.reportDate
                    report.appendChild(opt)
                });

            });

        function reportDate(e) {
            // e.preventDefault()
            // console.log(report.value)
            fetch(`http://localhost:3000/api/v1/review?reportDate=${report.value}`)
                .then((response) => response.json())
                .then((data) => {
                    let tab =
                        `<tr>
                        <th>Noice</th>
                        <th>Meh</th>
                        <th>Sadge</th>
                         </tr>`;
                    tab += `<tr> 
                    <td>${data.puas} </td>
                    <td>${data.biasa}</td>
                    <td>${data.tidakPuas}</td> 
                    </tr>`;

                    document.getElementById("now").innerHTML = tab;
                });
        }
    </script>

</body>


</html>