<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script src="index.js"></script> -->
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <meta http-equiv="refresh" content="30">
    <title>Arduino</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>



<body>
    <!-- Navbar -->
    <div class="navbar">
        <a href="about.html"><b>ABOUT</b></a>
    </div>
    <!-- content -->
    <!-- <div class="icon">
        <div class="icon1"><i class="fa-regular fa-face-smile fa-10x"></i></div>
        <div class="icon2"><i class="fa-regular fa-face-meh fa-10x"></i></div>
        <div class="icon3"><i class="fa-regular fa-face-frown fa-10x"></i></div>

    </div> -->
    <label for="startDate">Choose Start Date</label>
    <select id="startDate">
    </select>
    <label for="endDate">Choose End Date</label>
    <select id="endDate">
    </select>
    <button type="button" onclick="reportDate()">Click Me!</button>

    <table>
        <table id="now" class="table">
            <tr>
                <th>Noice</th>
                <th>Meh</th>
                <th>Sadge</th>
            </tr>
        </table>

        <table id="employees" class="table">
            <tr>
                <th>Report Date</th>
                <th>Noice</th>
                <th>Meh</th>
                <th>Sadge</th>
            </tr>
        </table>
    </table>
    <script>
        const api_url =
            "http://localhost:3000/api/v1/review";
        const url_api =
            "http://localhost:3000/api/v1/review/now";


        getapi(api_url);
        getapi1(url_api);
        // Defining async function
        async function getapi(url) {

            // Storing response
            const response = await fetch(url);

            // Storing data in form of JSON
            var data = await response.json();
            // console.log(data);
            show(data);
            function show(data) {
                let tab =

                    `<tr>
              <th>Report Date</th>
              <th>Noice</th>
              <th>Meh</th>
              <th>Sadge</th>
             </tr>`;
                // Loop to access all rows 
                for (let r of data) {
                    tab += `<tr> 
        <td>${r.reportDate} </td>
        <td>${r.puas} </td>
        <td>${r.biasa}</td>
        <td>${r.tidakPuas}</td> 
        </tr>`;
                }
                // setInterval(function() {
                //   location.reload()
                // }, 10000)


                // Setting innerHTML as tab variable
                document.getElementById("employees").innerHTML = tab;
            }
        }

        async function getapi1(url) {

            // Storing response
            const response = await fetch(url);

            // Storing data in form of JSON
            var data = await response.json();
            console.log(data);
            show(data);
            function show(data) {

                let tab =
                    `<tr>
              <th>Noice</th>
              <th>Meh</th>
              <th>Sadge</th>
             </tr>`;

                // Loop to access all rows 

                tab += `<tr> 
        <td>${data.puas} </td>
        <td>${data.biasa}</td>
        <td>${data.tidakPuas}</td> 
    </tr>`;

                // setInterval(function() {
                //   location.reload()
                // }, 10000)


                // Setting innerHTML as tab variable
                document.getElementById("now").innerHTML = tab;
            }
        }
        var startDate = document.getElementById('startDate')
        var endDate = document.getElementById('endDate')

        fetch('http://localhost:3000/api/v1/review')
            .then((response) => response.json())
            .then((data) => {
                data.forEach(element => {
                    var opt = document.createElement("option")
                    opt.value = element.reportDate
                    opt.innerHTML = element.reportDate
                    startDate.appendChild(opt)
                    var opt2 = document.createElement("option")
                    opt2.value = element.reportDate
                    opt2.innerHTML = element.reportDate
                    endDate.appendChild(opt2)
                });

            });

        function reportDate(e) {
            getapi(`http://localhost:3000/api/v1/review?startDate=${startDate.value}&endDate=${endDate.value}`)

        }
    </script>

</body>


</html>